<table>
    @for (int row = 0; row < 5; row++)
    {
        <tr>
            @for (int col = 0; col < 5; col++)
            {
                <td>@(row * 5 + col + 1)</td>
            }
        </tr>
    }
</table>
