@model IEnumerable<INTERNPRO.Models.CTGV>
@{
    Layout = "../Shared/_SidebarAdmin.cshtml";
}
@{
    var hour = 7;
    var minute = 0;
}
<div class="container">
    <span style="position:center"><h2>Lịch Công Tác</h2></span>
    <div class="timetable-img text-center">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center" style="width:1150px">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase" style="width:100px">
                        Time
                    </th>
                    <th class="text-uppercase" style="width:150px">Monday</th>
                    <th class="text-uppercase" style="width:150px">Tuesday</th>
                    <th class="text-uppercase" style="width:150px">Wednesday</th>
                    <th class="text-uppercase" style="width:150px">Thursday</th>
                    <th class="text-uppercase" style="width:150px">Friday</th>
                    <th class="text-uppercase" style="width:150px">Saturday</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i < 6; i++)
                {
                    <tr>
                        @{
                            var h = hour.ToString();
                            var m = minute.ToString();
                            if (hour < 10) h = "0" + h;
                            if (minute < 10) m = "0" + m;
                        }
                        <td class="align-middle">@h:@m am</td>
                        @{
                            minute = minute + 55;
                            if (minute > 60) { minute = minute - 60; hour++; }
                        }
                        @for (int j = 2; j < 8; j++)
                        {
                            <td>
                                @{
                                    foreach (var item in Model)
                                    {
                                        if (item.Ca == i && item.Ngay == j)
                                        {
                                            <div>@item.TenLop</div>
                                        }
                                    }
                                }
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>