@{
    ViewData["Title"] = "Home Page";
}
@section Section2{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Đăng nhập</a>
    </li>
}
<style>
    body {
        background-image: url('/Image/homeintern123.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="text-center">
    <h1 class="display-4"><strong>Welcome</strong></></h1>
    <p><e>Trường THPT Lý Nhân</e>.</p>
</div>
<style>
    strong {
        color: rgb(73,171,241);
        font-weight: bold;
        text-align: center;
    }

    e {
        color: rgb(73,171,241);
        text-align: center;
    }

    .custom-link {
        transition: color 0.2s; /* Tạo hiệu ứng chuyển đổi màu trong 0.2 giây */
    }
</style>







